.blog-masthead{
	background-color: #428bca;
	height: 90px;
	box-shadow: 0px 5px 5px rgba(136,136,136,.4);
}

.hidden-audio{
	display: none;
}

.container{
	width: 970px;
	font-size: 18px;
	line-height: 1.5;
	height: 700px;
	overflow-y: auto;
}

.blog-nav-item{
	position: relative;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	font-weight: 500;
	color: #cdddeb;
	font-size: 14px;
	position: fixed;
}

.setting-button{
	background-color: transparent;
	border: none;
}

.setting-button:hover{
	background-color: rgb(77, 149, 210);
}

.nav-item{
	display: inline-block;
	padding-top: 13px;
    padding-right: 10px;
}

.nav-item-right{
	float: right;
	display: inline-block;
	height: 90px;
	margin-right: 20px;
	margin-top: 3px;
}

.bell{
	height: 64px;
}

.card {
	margin-bottom: 20px;
	background: rgba(225, 225, 232, .5);
	padding: 10px;
	height: 105px;
}

.card-title {
	margin-bottom: 5px;
	font-size: 40px;
	float: left;
}

.fa-5x {
	font-size: 5em;
	float: right;
}

.failure {
	color: red;
}

.success {
	color: green;
}

.white {
	color: rgb(235,235,235);
}

.logo {
	height: 45px;
}

body{
	background-image: url(../../public/img/ocean.png);
}

.bellAnimation{
	-webkit-animation:spin 1s linear;
	-moz-animation:spin 1s linear;
	animation:spin 1s linear;
	transform-origin: 50% 0%;
}

@-moz-keyframes spin {
	33% {
		-moz-transform: rotate(45deg);
	}
	66% {
		-moz-transform: rotate(-45deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}
@-webkit-keyframes spin {
	33% {
		-webkit-transform: rotate(45deg);
	}
	66% {
		-webkit-transform: rotate(-45deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@keyframes spin {
	33% {
		-webkit-transform: rotate(45deg);         transform:rotate(45deg);
	}
	66%{
		-webkit-transform: rotate(45deg);         transform:rotate(-45deg);
	}
	100%{
		-webkit-transform: rotate(0deg);         transform:rotate(0deg);
	}
}

