.blog-masthead{
	background-color: #428bca;
	height: 90px;
	box-shadow: 0px 5px 5px rgba(136,136,136,.4);
}

.container{
	width: 970px;
	font-size: 18px;
	line-height: 1.5;
	height: 700px;
	overflow-y: auto;
}

.blog-nav-item{
	position: relative;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	font-weight: 500;
	color: #cdddeb;
	font-size: 14px;
	position: fixed;
}

.nav-item{
	display: inline-block;
	height: 90px;
}

.bell{
	height: 64px;
}

.card {
	margin-bottom: 20px;
	background: rgba(225, 225, 232, .5);
	padding: 10px;
}

.card-title {
	margin-bottom: 5px;
	font-size: 40px;
}

body{
	background-image: url(../../public/img/ocean.png);
}



