
.shameContainer {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	margin-top: 10%;
}

.center-mid{
	text-align: center;
}

.hidden-audio{
	display: none;
}
