.blog-masthead{
	background-color: #428bca;
	height: 90px;
	box-shadow: 0px 5px 5px #888888;
}

.container{
	width: 970px;
}

.blog-nav-item{
	position: relative;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	font-weight: 500;
	color: #cdddeb;
	font-size: 14px;
}

.nav-item{
	display: inline-block;
}

.bell{
	height: 64px;
}



